/* @media screen and (max-width: 900px) {
    .img1 {
       height: 50%;
    }
 } */

.img1 {
    height: 600px;
}

.img2 {
    height: 400px;
}

.img3 {
    height: 250px;
}

.img4 {
    height: 800px;
}

.side-img {
    margin-top: 8%;
}

.subpoints {
    margin-left: 10px;
    padding: 8px;
}

.refs {
    padding: 5px;
}

 @media screen and (max-width: 750px) {
    .img1 {
       height: 400px;
    }

    .img2 {
        height: 260px;
    }

    .img3 {
        height: 100px;
    }

    .img4 {
        height: 500px;
    }

    .side-img {
        margin-top: 2%;
    }

    .column {
        width: 100% !important;
    }
 }

 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 48%;
    padding: 10px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }