/* @media screen and (max-width: 900px) {
    .img1 {
       height: 50%;
    }
 } */

.img1 {
    height: 600px;
}

.img2 {
    height: 400px;
}

.img3 {
    height: 250px;
}

.img4 {
    height: 800px;
}

.subpoints {
    margin-left: 10px;
    padding: 8px;
}

.refs {
    padding: 5px;
}

 @media screen and (max-width: 750px) {
    .img1 {
       height: 400px;
    }

    .img2 {
        height: 260px;
    }

    .img3 {
        height: 100px;
    }

    .img4 {
        height: 500px;
    }
 }